@model AppRoleDetailsVM
@{
    string validationGroup = Guid.NewGuid().ToString();
}

<div class="grid-header d-flex middle between">
    <h6 class="grid-header-title">@UtilsResource.AssignedUsers.ToHtmlStringSafe() (<span id="totalCountId">0</span>)</h6>
    <div>
        <div id="addBtnId"></div>
    </div>
</div>

<div id="roleUsersGridId"></div>

@await Component.InvokeAsync("AssignUser", Model)
@await Component.InvokeAsync("UnassignUser", Model)

<script>
    $(document).ready(function () {
        $("#addBtnId").dxButton({
            elementAttr: { class: "btn btn-default" },
            height: 32,
            onClick: function () {
                 $("#assignUserPopupId").dxPopup("instance").show();
            },
            text: "@ButtonNameResource.Add.ToScriptStringSafe()",
            type: "default"
        });

        var store = DevExpress.data.AspNet.createStore({
            loadUrl: "@Url.Action("GetRoleUsers", "AppRole")",
            loadParams: {
                roleId: '@Model.Id'
            }
        });

        var dataGrid = $("#roleUsersGridId").dxDataGrid({
            dataSource: {
                store: store,
                onLoadingChanged: function (isLoading) {
                    if (!isLoading) {
                        $('#totalCountId').text(dataGrid.totalCount());
                    }
                }
            },
            allowColumnResizing: true,
            columnAutoWidth: true,
            controlColumnResizing: true,
            remoteOperations: {
                sorting: true,
                paging: true,
                filtering: true
            },
            searchPanel: {
                visible: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto",
                showOperationChooser: false
            },
            loadPanel: {
                enabled: true
            },
            sorting: {
                mode: 'multiple'
            },
            paging: {
                pageSize: 15,
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [5, 15, 25]
            },
            hoverStateEnabled: true,
            rowAlternationEnabled: true,
            columns: [
                { dataField: "Id", visible: false, allowSearch: false },
                { dataField: "LastName", caption: "@SharedResource.LastName.ToScriptStringSafe()" },
                { dataField: "FirstName", caption: "@SharedResource.FirstName.ToScriptStringSafe()" },
                { dataField: "Email", caption: "@SharedResource.EmailAddress.ToScriptStringSafe()" },
                { dataField: "IsActive", caption: "@SharedResource.IsActive.ToScriptStringSafe()" },
                { dataField: "PhoneNumber", caption: "@SharedResource.PhoneNumber.ToScriptStringSafe()" },
                {
                    caption: "",
                    dataField: "",
                    allowFiltering: false,
                    allowSorting: false,
                    alowSearch: false,
                    width: 100,
                    cellTemplate: function (container, options) {
                        var id = options.row.data["Id"];
                        var email = options.row.data["Email"];
                        var userName = options.row.data["FirstName"] + " " + options.row.data["LastName"];
                        var temp = '__id__';
                        var reId = new RegExp(temp, 'g');
                        var detailsUrl = '';
                        if (email != "admin@calmedic.pl") {
                            detailsUrl = '<a class="btn-datagrid btn-datagrid-danger" onclick="unassignUser(' + id + ', \'' + userName + '\')"><i class="fas fa-trash"></i></a>';
                            detailsUrl = detailsUrl.replace(reId, id);
                        }
                        else {
                            detailsUrl = '<a class="btn-datagrid btn-datagrid-normal"><i class="fas fa-trash"></i></a>';
                        }
                        container.append(detailsUrl);
                    }
                }
            ]
        }).dxDataGrid("instance");
    });
</script>