@model PatientAddVM
@{
    ViewBag.Title = UtilsResource.Patient_Add;
    string validationGroup = Guid.NewGuid().ToString();
    List<AppRoleType> Roles = Context.Session.GetObject<AppUserData>(SessionVariableNames.AppUserData).Roles;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Dashboard", new { area = AreaNames.Dashboard_Area })">@UtilsResource.Home.ToHtmlStringSafe()</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Patient", new { area = AreaNames.Evidence_Area })">@UtilsResource.Patients.ToHtmlStringSafe()</a></li>
        <li class="breadcrumb-item active" aria-current="page">@UtilsResource.Patient_Add.ToHtmlStringSafe()</li>
    </ol>
</nav>

<div class="wrapper">
    <div class="wrapper-header d-flex middle between">
        <h4 class="wrapper-header-title">@UtilsResource.Patient_Add.ToHtmlStringSafe()</h4>
    </div>
    <hr />
    <div class="wrapper-inner">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="form-group-title">@SharedResource.PrimaryData.ToHtmlStringSafe()</h4>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.FirstName)</label>
                    <div class="col-xs-9" id="firstNameBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.LastName)</label>
                    <div class="col-xs-9" id="lastNameBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.Pesel)</label>
                    <div class="col-xs-9" id="peselBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.DateOfBirth)</label>
                    <div class="col-xs-9" id="dateOfBirthBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.Sex)</label>
                    <div class="col-xs-9" id="sexBoxId"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <h4 class="form-group-title">@SharedResource.Address.ToHtmlStringSafe()</h4>

                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.Street)</label>
                    <div class="col-xs-9" id="streetBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.BuildingNo)</label>
                    <div class="col-xs-9" id="buildingNoBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.ApartmentNo)</label>
                    <div class="col-xs-9" id="apartmentNoBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.PostalCode)</label>
                    <div class="col-xs-9" id="postalCodeBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.City)</label>
                    <div class="col-xs-9" id="cityBoxId"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <h4 class="form-group-title">@SharedResource.AdditionalData.ToHtmlStringSafe()</h4>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.PhoneNumber)</label>
                    <div class="col-xs-9" id="phoneBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.EmailAddress)</label>
                    <div class="col-xs-9" id="emailBoxId"></div>
                </div>
                <div class="form-group form-group-horizontal row">
                    <label class="col-xs-3">@Html.DisplayNameFor(x => x.Comments)</label>
                    <div class="col-xs-9" id="commentsAreaId"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 end-xs mt-2">
                <div id="saveBtnId"></div>
                <div id="cancelBtnId"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#saveBtnId").dxButton({
            elementAttr: { class: "btn btn-default" },
            height: 32,
            onClick: function () {
                if (DevExpress.validationEngine.validateGroup('@validationGroup').isValid) {
                    $("#loadPanelId").dxLoadPanel('show');
                    var array = $("#formId").serializeArray();
                    var formData = new FormData();
                    array.forEach(function (e) {
                        formData.append(e.name, e.value);
                    });

                    $.ajax({
                        type: "post",
                        url: '@Url.Action("Add", "AppUser")',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data != null) {
                                window.location = '@Url.Action("Details", "AppUser")?id=' + data;
                            }
                            $("#loadPanelId").dxLoadPanel('hide');
                        }
                    });
                }
            },
            text: "@ButtonNameResource.Save.ToScriptStringSafe()",
            type: "default"
        });

        $("#cancelBtnId").dxButton({
            elementAttr: { class: "btn btn-ml btn-normal" },
            height: 32,
            text: "@ButtonNameResource.Cancel.ToScriptStringSafe()",
            onClick: function () {
                window.location = '@Url.Action("Index", "Patient")';
            },
            type: "normal"
        });

        $("#firstNameBoxId").dxTextBox({
            name: "FirstName",
            readOnly: false,
            width: "100%",
            value: '@Model.FirstName.ToScriptStringSafe()'
        });

        $("#lastNameBoxId").dxTextBox({
            name: "LastName",
            readOnly: false,
            width: "100%",
            value: '@Model.LastName.ToScriptStringSafe()'
        });

        $("#peselBoxId").dxTextBox({
            name: "Pesel",
            readOnly: false,
            width: "100%",
            value: '@Model.Pesel.ToScriptStringSafe()',
            onValueChanged: function () {
                //ajax and set this data
                //$("#dateOfBirthBoxId").dxDateBox("instance").option("value", new Date(1964, 8, 20));
                //$("#sexBoxId").dxSelectBox("instance").option("value", 1);
            }
        });

        $("#dateOfBirthBoxId").dxDateBox({
            name: "DateOfBirth",
            readOnly: true,
            width: "100%",
            value: '@(Model.DateOfBirth.ToScriptStringSafe())'
        });

        $("#sexBoxId").dxSelectBox({
            items: @Html.Raw(Model.SexDictionary.ToJson()),
            displayExpr: "Text",
            name: "Sex",
            placeholder: "",
            readOnly: true,
            width: "100%",
            value: '@(Html.Raw(Model.Sex))',
            valueExpr: "Value"
        });

        $("#streetBoxId").dxTextBox({
            name: "Street",
            readOnly: false,
            width: "100%",
            value: '@Model.Street.ToScriptStringSafe()'
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#buildingNoBoxId").dxTextBox({
            name: "BuildingNo",
            readOnly: false,
            width: "100%",
            value: '@Model.BuildingNo.ToScriptStringSafe()'
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#apartmentNoBoxId").dxTextBox({
            name: "ApartmentNo",
            readOnly: false,
            width: "100%",
            value: '@Model.ApartmentNo.ToScriptStringSafe()'
        });

        $("#postalCodeBoxId").dxTextBox({
            name: "PostalCode",
            readOnly: false,
            width: "100%",
            value: '@Model.PostalCode.ToScriptStringSafe()'
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#cityBoxId").dxTextBox({
            name: "City",
            readOnly: false,
            width: "100%",
            value: '@Model.City.ToScriptStringSafe()'
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#phoneBoxId").dxTextBox({
            mode: "tel",
            name: "PhoneNumber",
            readOnly: false,
            width: "100%",
            value: '@Model.PhoneNumber.ToScriptStringSafe()'
        });

        $("#emailBoxId").dxTextBox({
            mode: "email",
            name: "Email",
            readOnly: false,
            width: "100%",
            value: '@Model.EmailAddress.ToScriptStringSafe()'
        });

        $("#commentsAreaId").dxTextArea({
            height: "auto",
            minHeight: "75px",
            name: "Comments",
            readOnly: false,
            width: "100%",
            value: '@Model.Comments.ToScriptStringSafe()'
        });
    });
</script>