@model LoginVM
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "formId" }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            @Html.AntiForgeryToken();

            <div class="row" style="display: none;">
                <div class="col-12">
                    @Html.DevExtreme().ValidationSummary()
                </div>
            </div>
            <div class="login-form">
                <div class="login-form-header center">
                    <img src="~/images/utils/logo.svg" />
                </div>
                <div class="login-form-wrapper">
                    <div class="row">
                        <div class="row start-xs">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@Html.DisplayNameFor(x => x.Email)</label>
                                    @Html.DevExtreme().TextBoxFor(x => x.Email).Placeholder(SharedResource.EmailHolder)
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@Html.DisplayNameFor(x => x.Password)</label>
                                    @Html.DevExtreme().TextBoxFor(x => x.Password).Mode(TextBoxMode.Password).Placeholder(SharedResource.PasswordHash)
                                </div>
                            </div>
                            <div class="col-xs-12 d-flex space-between mt-3">
                                <div class="form-group ">
                                    <a href="#">@SharedResource.Register.ToHtmlStringSafe()</a>
                                </div>
                                @(Html.DevExtreme().Button()
                                    .ID("button")
                                    .ElementAttr("class", "btn btn-primary")
                                    .Text(ButtonNameResource.Login)
                                    .Type(ButtonType.Default)
                                    .UseSubmitBehavior(true)
                                )
                            </div>
                        </div>
                        <span class="login-form-footer">Wystąpił problem? <a href="#" id="contactButton">Skontaktuj się z nami!</a></span>
                        <div id="contactPopup"></div>
                    </div>
                </div>
            </div>
            <div class="login-image">
                <img src="~/images/utils/login.png" />
            </div>
        }
    }
</div>

<div style="display: none;">
    <div id="contactPopupContent">
        <h3>Calmedic</h3>
        <p><i class="fas fa-map-marker-alt text-gray mr-1"></i> Kielce (25-646), ul.Wymyślna 62/1</p>
        <p><i class="fas fa-phone text-gray mr-1"></i>+48 12 345 67 89</p>
        <p><i class="fas fa-envelope text-gray mr-1"></i>kontakt@calmedic.pl</p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#contactButton").click(function () {
            $("#contactPopup").dxPopup("instance").option({ visible: true });
        });

        $("#contactPopup").dxPopup({
            visible: false,
            title: "Kontakt",
            width: "700px",
            height: "auto",
            dragEnabled: false,
            position: { my: 'bottom', at: 'center', of: window },
            contentTemplate: function (container) {
                container.append($("#contactPopupContent"));
            }
        });
    });
</script>