@model LoginVM
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string validationGroup = Guid.NewGuid().ToString();
}

<div class="login">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "formId" }))
    {
        @Html.AntiForgeryToken();
        <div class="login-form">
            <div class="login-form-header center">
                <img src="~/images/utils/logo.svg" />
            </div>
            <div class="login-form-wrapper">
                <div class="row">
                    <div class="row start-xs">
                        @if (ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="col-xs-12">
                                @Html.ValidationSummary(false, "", new { @class = "login-error" })
                            </div>
                        }
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(x => x.Email)</label>
                                <div id="emailBoxId"></div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(x => x.Password)</label>
                                <div id="passwordBoxId"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 end-xs mt-3">
                            <div id="loginBtnId"></div>
                        </div>
                    </div>
                    <span class="login-form-footer">@UtilsResource.Conntact_Part1.ToHtmlStringSafe() <a href="#" id="contactButton">@UtilsResource.Conntact_Part2.ToHtmlStringSafe()</a></span>
                    <div id="contactPopup"></div>
                </div>
            </div>
        </div>
        <div class="login-image">
            <img src="~/images/utils/login.png" />
        </div>
    }
</div>

<div id="loadPanelId"></div>

<div style="display: none;">
    <div id="contactPopupContent">
        <h3>Calmedic</h3>
        <p><i class="fas fa-map-marker-alt text-gray mr-1"></i> Kielce (25-646), ul.Wymyślna 62/1</p>
        <p><i class="fas fa-phone text-gray mr-1"></i>+48 12 345 67 89</p>
        <p><i class="fas fa-envelope text-gray mr-1"></i>kontakt@calmedic.pl</p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#contactButton").click(function () {
            $("#contactPopup").dxPopup("instance").option({ visible: true });
        });

        $("#emailBoxId").dxTextBox({
            name: "Email",
            placeholder: "@SharedResource.EmailHolder.ToScriptStringSafe()",
            width: "100%"
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }, {
                type: "email",
                message: "@ErrorResource.WrongEmail.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#passwordBoxId").dxTextBox({
            mode: 'password',
            name: "Password",
            placeholder: "@SharedResource.PasswordHash.ToScriptStringSafe()",
            width: "100%"
        }).dxValidator({
            validationRules: [{
                type: "required",
                message: "@ErrorResource.RequiredShort.ToScriptStringSafe()"
            }],
            validationGroup: "@validationGroup"
        });

        $("#loginBtnId").dxButton({
            elementAttr: { class: "btn btn-default" },
            onClick: function () {
                if (DevExpress.validationEngine.validateGroup('@validationGroup').isValid) {
                    $("#loadPanelId").dxLoadPanel("instance").show();
                }
            },
            text: "@ButtonNameResource.Login.ToScriptStringSafe()",
            type: "default",
            useSubmitBehavior: true,
            validationGroup: "@validationGroup"
        });

        $("#loadPanelId").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: true,
            closeOnOutsideClick: false
        });

        $("#contactPopup").dxPopup({
            visible: false,
            title: "@UtilsResource.Contact.ToScriptStringSafe()",
            width: "700px",
            height: "auto",
            dragEnabled: false,
            position: { my: 'bottom', at: 'center', of: window },
            contentTemplate: function (container) {
                container.append($("#contactPopupContent"));
            }
        });
    });
</script>