@model AppRoleListVM

<div id="appRoleGridId"></div>

<script>
    $(document).ready(function () {
        var store = DevExpress.data.AspNet.createStore({
                "loadUrl": "@Url.Action("GetData", "AppRole")"
            });

        var dataGrid = $("#appRoleGridId").dxDataGrid({
            dataSource: {
                store: store,
            },
            allowColumnResizing: true,
            columnAutoWidth: true,
            controlColumnResizing: true,
            remoteOperations: {
                sorting: true,
                paging: true,
                filtering: true
            },
            searchPanel: {
                visible: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto",
                showOperationChooser: false
            },
            loadPanel: {
                enabled: true
            },
            sorting: {
                mode: 'multiple'
            },
            paging: {
                pageSize: 15,
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [5, 15, 25]
            },
            hoverStateEnabled: true,
            rowAlternationEnabled: true,
            columns: [
                { dataField: "Id", visible: false, allowSearch: false },
                { dataField: "Name", caption: "@SharedResource.Name.ToScriptStringSafe()" },
                { dataField: "Description", caption: "@SharedResource.Description.ToScriptStringSafe()" },
                { dataField: "UserCount", caption: "@SharedResource.UserCount.ToScriptStringSafe()" },
                {
                    caption: "",
                    dataField: "",
                    allowFiltering: false,
                    allowSorting: false,
                    alowSearch: false,
                    width: 100,
                    cellTemplate: function (container, options) {
                        var id = options.row.data["Id"];
                        var temp = '__id__';
                        var reId = new RegExp(temp, 'g');

                        var detailsUrl = '<a class="btn-datagrid" href="@Url.Action("Details", "AppRole", new { id = "__id__" }, null)"><i class="fas fa-arrow-right"></i></a>';
                        detailsUrl = detailsUrl.replace(reId, id);
                        container.append(detailsUrl);
                    }
                }
            ]
        }).dxDataGrid("instance");
    });
</script>